
*
{

    margin: 0;
    padding: 0;

    font-family: roboto, sans-serif;

    border: 1px solid aqua;

}

body
{

    display: flex;
    flex-direction: column;

    height: 100vh;

}

.header
{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header,
.footer
{

    padding: 10px;
    background-color: #1F2937;
    color: #E5E7EB;

    flex: 0;

}

.header,
.footer,
.middle-content
{
    /*border: red 1px solid;*/
}

.middle-content
{

    display: flex;
    flex-direction: column;

    flex: 1;

}

.middle-1,
.middle-2,
.middle-3,
.middle-4
{
    flex: 1;
}

.footer
{
    text-align: center;
}

.header-logo
{

    flex: 0;

    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

    min-width: 150px;

}

.list-o-links
{

    flex: 1;

    /*text-decoration: none;*/

    font-size: 18px;
    /*color: #E5E7EB;*/

    /*min-width: 0;*/


    display: flex;
    justify-content: flex-end;


}

.list-o-links a
{

    text-decoration: none;
    color: #E5E7EB;

    min-width: 150px;

}

.middle-1
{

    display: flex;

}

.middle-1-left,
.middle-1-right
{

    flex: 1;

    padding: 20px 10px;

    display: flex;

}

.middle-1-left
{

    display: flex;
    flex-direction: column;

}

.middle-1-right
{

    align-content: center;

}

.placeholder-text
{

    text-align: center;

    color: #FFFFFF;

    background-color: #999999;

    padding: 75px;


}

.sign-A,
.sign-B,
.sign-C
{

    flex: 1;

}