
*
{

    margin: 0;
    padding: 0;

    font-family: roboto, sans-serif;

    /*border: 1px solid aqua;*/

}

body
{

    display: flex;
    flex-direction: column;

    height: 100vh;

}


.header
{

    display: flex;
    align-items: center;
    justify-content: center;



}

.header-content
{

    display: flex;
    justify-content: space-between;

    width: 825px;

}

.header,
.footer
{

    padding: 10px;
    background-color: #1F2937;
    color: #E5E7EB;

    flex: 0;

}

.middle-content
{

    display: flex;
    flex-direction: column;

    flex: 1;

}

.middle-1,
.middle-2,
.middle-3,
.middle-4
{
    flex: 1;
}

.footer
{
    text-align: center;

}

.header-logo
{

    flex: 0;

    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;

    min-width: 150px;

}

.list-o-links
{

    flex: 1;

    /*text-decoration: none;*/

    /*font-size: 18px;*/
    /*color: #E5E7EB;*/

    /*min-width: 0;*/


    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.list-o-links a
{

    text-decoration: none;

    font-size: 16px;
    color: #E5E7EB;

    min-width: 150px;

    display: flex;
    justify-content: flex-end;

}

.middle-1
{

    display: flex;

}

.middle-2
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;

}

.middle-3
{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;


}

.quote
{

    width: 600px;

}

.quote-author
{

    display: flex;
    justify-content: flex-end;

    width: 600px;

}

.middle-2-text
{

    text-align: center;
    padding: 20px;

}

.four-boxes
{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

    width: 700px;

}

.box
{

    text-align: center;

}

.box-in-box
{

    width: 100px;
    height: 100px;

}

.middle-1-left,
.middle-1-right
{

    flex: 1;

    padding: 20px 20px;

    display: flex;

}

.middle-1-left
{

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 10px;

}

.middle-1-right
{


    /*justify-content: center;
    align-items: center;

    flex-direction: column;

    display: flex;*/

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;



}

.placeholder-text
{

    text-align: center;

    color: #FFFFFF;

    background-color: #999999;

    padding: 60px;

    width: 200px;


}

.sign-A,
.sign-B,
.sign-C
{

    flex: 1;
    width: 400px;

}

.middle-4
{

    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-blue
{

    padding: 25px 50px;
    background-color: #3882f6;

    display: flex;
    justify-content: space-between;

    width: 700px;

    border-radius: 7px;

}

.inner-left
{
    flex: 2;
}



.inner-right
{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex: 1;



}

.button-2
{

    padding: 5px 25px;
    color: white;
    border: 2px white solid

}

.sign-A
{

    font-size: 36px;
    color: #F9FAF8;
    font-weight: 900;

}

.sign-B
{

    font-size: 18px;
    color: #E5E7EB;

}

.sign-C
{

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.button-1
{

    padding: 5px 25px;
    color: white;

}

.button-1,
.button-2
{

    border-radius: 7px;
    background-color: #3882F6;

}

.middle-1
{

    background-color: #1F2937;

}

.placeholder-text
{

    font-size: 18px;
    color: #E5E7EB;

}

.middle-2-text
{

    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

.box
{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.box-in-box
{

    margin: 5px;
    border: 2px blue solid;
    border-radius: 7px;

}

.text-in-box
{

    font-size: 18px;
    color: #1F2937;

}

.middle-3
{

    background-color: #E5E7EB;

}

.quote,
.quote-author
{

    color: #1F2937;

}

.quote
{

    font-size: 26px;
    font-weight: light;
    font-style: italic;

}

.quote-author
{

    font-weight: bold;

}

.call-div,
.sign-div
{

    color: white;

}

.call-div
{

    font-weight: bold;

}

.footer
{

    font-size: 12px;

}

.footer
{
    padding: 10px;
}